###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
.docker/data
.docker/data/*
###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
